*,
*:before,
*:after {
    box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: calibri}

.container {
    width: 960px;
    margin: 0 auto;}

.header_top {
    background: #333;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    border-top: 1px solid #444;
    color: #fff;
    font: 10pt Verdana, Arial, sans-serif;
    height: 23px;
    padding: 0;}

.header a {
    text-decoration: none;
    color: #fff}

.logo a {
    color: #f5da2f;}

.clearfix {
    clear: both;}

.header {
    width: 100%;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    overflow: hidden;
    font-family: calibri;
	    padding: 22px 10px;
	}

.logo {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 25px;}7u

.navbar {
    width: 50%;
    float: left;
    padding: 0px 50px;}

.navbar ul {
    margin: 0;}

.navbar ul li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin: 0px 1px;
    font-size: 18px;
