*,
*:before,
*:after {
    box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: calibri}

.container {
    width: 960px;
    margin: 0 auto;}

.header_top {
    background: #333;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    border-top: 1px solid #444;
    color: #fff;
    font: 10pt Verdana, Arial, sans-serif;
    height: 23px;
    padding: 0;}

.header a {
    text-decoration: none;
    color: #fff}

.logo a {
    color: #f5da2f;}

.clearfix {
    clear: both;}

.header {
    width: 100%;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    overflow: hidden;
    font-family: calibri;
	    padding: 22px 10px;
	}

.logo {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 25px;}7u

.navbar {
    width: 50%;
    float: left;
    padding: 0px 50px;}

.navbar ul {
    margin: 0;}

.navbar ul li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    margin: 0px 1px;
    font-size: 18px;
  }


  .about_us h4{
  	padding:0;
  	margin:0;
  }
  .navbar ul li:hover {
      background: linear-gradient(to bottom, #333333 15%, #505050 50%, #333333 85%);}

  .latest {
      padding: 10px;
      font-size: 20px;
      font-family: calibri;}

  .latest .fa {
      vertical-align: bottom;
      padding: 0px 5px;
      color: #3d8fe8;}

  .animated a {
      text-decoration: none;
      color: black;}

  .movies_poster {
      width: 25%;
      float: left;
      margin-bottom: 25px;
      background: #fff;
      min-height: 230px;
      overflow: hidden;
      font-family: calibri;
      background: #eee;}

  .movie_title {
      border: 1px solid #ccc;
      padding: 20px 15px;
      text-align: center;
      font-size: 20px;
      background: #fff;}

  .movies_photo img {
      width: 100%;
      height: auto!important;
      background-position: 100%;}

  .latest h5{padding: 0px;
      margin: 0px;}

  .content {
      padding: 5px;}

  .movies_photo {
      border-bottom: 3px solid #3d8fe8;}

  .footer_content {
      width: 50%;
      float: left}

  .footer_content.right {
      text-align: right}

  .footer {
      padding: 30px;
      color: white;
      background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
      font-family: calibri;}

  
