*,
*:before,
*:after {
    box-sizing: border-box;
  }

p {
  font-size: 18px;
  font-family: calibri;

}

body {
    padding: 0;
    margin: 0;
    background: #eee;
    font-family: calibri
  }

.container {
    width: 960px;
    margin: 0 auto;
  }

.header_top {
    background: #333;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    border-top: 1px solid #444;
    color: #fff;
    font: 10pt Verdana, Arial, sans-serif;
    height: 23px;
    padding: 0;
  }

.header a {
    text-decoration: none;
    color: #fff
  }

.logo a {
    color: #f5da2f;
  }

.clearfix {
    clear: both;
  }

.header {
    width: 100%;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    overflow: hidden;
    font-family: calibri;
	    padding: 22px 10px;
	}

.logo {
    width: 35%;
    float: left;
    text-align: center;
    font-size: 35px;
  }


.navbar {
    width: 65%;
    float: right;
    padding: 0px 50px;
    display: block;
  }

.navbar ul {
    margin: 0;
  }

.navbar ul li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    color: white;
    margin: 0px 2px;
    font-size: 20px;
}

.about_us h4 {
	padding:0;
	margin:0;
}

iframe {
    width: 960px;
    height: 450px;
   }

  .navbar ul li:hover {
    background: #f5da2f;
  }

.latest {
    padding: 10px;
    font-size: 20px;
    font-family: calibri;
  }

.latest .fa {
    vertical-align: bottom;
    padding: 0px 5px;
    color: #3d8fe8;
  }

.animated a {
    text-decoration: none;
    color: black;
  }

.movies_poster {
    width: 25%;
    float: left;
    margin-bottom: 25px;
    background: #fff;
    min-height: 230px;
    overflow: hidden;
    font-family: calibri;
    background: #eee;
  }

.movie_title {
    border: 1px solid #ccc;
    padding: 20px 15px;
    text-align: center;
    font-size: 20px;
    background: #fff;
  }

.movies_photo img {
    width: 100%;
    height: auto!important;
    background-position: 100%;
  }

.latest h5{padding: 0px;
    margin: 0px;
  }

.content {
    padding: 5px;
  }

.movies_photo {
    border-bottom: 3px solid #3d8fe8;
  }

.footer_content {
    width: 50%;
    float: left
  }

.footer_content.right {
    text-align: right
  }

.footer {
    padding: 30px;
    color: white;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    font-family: calibri;
  }

.movies_photo img:hover {
    transform: scale(0.9);
  }

.movies_photo img {
    transition: all .2s ease-in-out;
  }

.movies_photos img:hover {
    transform: scale(0.9);
}

.movies_photos img {
    transition: all .2s ease-in-out;
}

.about_us {
    text-align: center;
    background: #3d8fe8;
    padding: 10px;
    font-size: 25px;
    color: white
}

.about_us_detail {
    padding: 20px;
    line-height: 20px
}

.about_content {
    background: #fff;
    font-family: calibri;
	min-height:457px;
}

.header_top .fa {
    display: none;
}

.movie_name {
    text-align: center;
    font-size: 25px;
}

.movie_detail {
    line-height: 20px;
    padding: 10px
}

.movie_detail b {
    font-size: 20px
}

.movies_photos {
    text-align: center;
    padding: 20px;
}

.bg_color {
    background: #fff
}

.nav {
    display: block;
}

.nav ul li {
    list-style: none;
    padding: 2px 10px;
    color: white;
    background: linear-gradient(to bottom, #646464 0%, #0e0e0e 100%);
    font-family: calibri;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
}

.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

figure {
  width: 350px;
  background: #ffdb58;
  overflow: hidden;
}

figcaption {
  height: 3em;
  line-height: 1.2em;
  padding: 0.8em;
  transform: translateY(4em);
  background: #fff;
  background: rgba( 255, 255, 255, 0 );
  opacity: 0;
  transition: all 0.7s;
}

 figure:hover figcaption {
  transform: translateY(0em);
  background: rgba( 255, 255, 255, .78 );
  opacity: .70;
}

.fadeInRight {
    0% {
        opacity: 0;
    }

    {
    100%
        opacity: 1;
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }


.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }


.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.film_review{width:50%;float:left;padding:10px}

.film_images{width:50%;float:right}

.film_images img{width:100%}

.hr{width:95%;margin:0 auto;border-bottom:1px solid #ccc;}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

   .movies_poster {
        float: none;
        display: block;
        width:90%;
		margin:0 auto;
        padding: 10px
    }

    .navbar {
        width: 20%;
        float: left;
        padding: 0px 30px;
      }

    .navbar ul {
        margin: 0;
      }


    .navbar ul li {
        list-style: none;
        float: left;
        padding: 5px 10px;
        color: white;
        cursor: pointer;
        margin: 0px 1px;
        font-size: 18px;
    }


    .header_top .fa {
        display: block;
        font-size: 60px;
        float: right;
        padding: 0px 14px
    }

    .logo {
        width: 40%;
        float: left;
        text-align: left;
        padding: 0px 25px
    }

    iframe {
        width: 400px;
        height: 250px;
       }

	.header_top{height:34px}

	.film_review{width:100%;float:none;}

.film_images{width:100%;float:none;}
}

@media only screen and (max-width: 420px) {
    .logo {
        width: 30%;
        float: left;
        text-align: left;
        padding: 0px 25px;
    }
}
